<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    {% load static %}
    {% load staticfiles %}
    <script type="text/javascript" src="{% static "js/fmain.js" %}"></script>
    <link rel="stylesheet" href="{% static "css/bootstrap.min.css" %}">
    <link rel="stylesheet" href="{% static "css/fmain.css" %}">
    <title>File Explorer</title>
</head>
<body>
<nav class="navbar navbar-expand-lg navbar-dark bg-dark sticky-top">
    <a href=".." class="navbar-brand">Clever Web</a>
    <div style="color: white">{{ path }}</div>
</nav>
<div class="wrapper">
    <div id="content" class="content">
        {% for item in files %}
            {% if item.type == "up" %}
                <a style="text-decoration: none" href="../files/?path={{ home_path }}">
                    <div class="file_elem"><img class="file_img" alt="" src="/static/images/up.svg"/><span>{{ item.name }}</span></div>
                </a>
            {% else %}
                <a style="text-decoration: none" href="../files/?path={{ path }}\{{ item.name }}">
                    <div class="file_elem"><img class="file_img" alt="" src="/static/images/{{ item.type }}.svg"/><span>{{ item.name }}</span></div>
                </a>
            {% endif %}
        {% endfor %}
    </div>
</div>
</body>
</html>
