<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    {% load static %}
    {% load staticfiles %}
    <link rel="stylesheet" href="{% static "css/bootstrap.min.css" %}">
    <link rel="stylesheet" href="{% static "css/fmain.css" %}">
    <script>var path = "{{ path }}";</script>
    <title>File Explorer</title>
</head>
<body>
<nav class="navbar navbar-expand-lg navbar-dark bg-dark sticky-top">
    <a href=".." class="navbar-brand">Clever Web</a>
    <div style="color: white">{{ path }}</div>
</nav>
<div class="wraper">
    <div id="content" class="readable content">
        <textarea class="area" id="area">{{ content }}</textarea>
    </div>
    <div class="file_reader_menu">
        <div class="btn-group-vertical veryw" style="height: 100%">
            <button style="height: 100%; font-size: 1.5em;" type="button" onclick="saveFile()" class="btn btn-primary veryw">Save</button>
            <a href="../files/?path={{ home_path }}" style="height: 100%" class="veryw">
                <button type="button" class="btn btn-secondary veryw" style="height: 100%; font-size: 1.5em;">Back</button>
            </a>
            <button type="button" class="btn btn-success veryw" style="height: 100%; font-size: 1.5em;">Download</button>
        </div>
    </div>
</div>
<script type="text/javascript" src="{% static "js/fmain.js" %}"></script>
</body>
</html>
