<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    {% load static %}
    {% load staticfiles %}
    <script>var data = {{ content|safe }};</script>
    <link rel="stylesheet" href="{% static "css/bootstrap.min.css" %}">
    <link rel="stylesheet" href="{% static "css/fmain.css" %}">
    <title>File Explorer</title>
</head>
<body>
<nav class="navbar navbar-expand-lg navbar-dark bg-dark sticky-top">
    <a href=".." class="navbar-brand">Clever Web</a>
    <div style="color: white">{{ path }}</div>
</nav>
<div class="wraper">
    <div id="content" class="readable content">

    </div>
    <div class="file_reader_menu">
        <button type="button" class="btn btn-primary">Save</button>
        <a href="../files/?path={{ home_path }}"    ><button type="button" class="btn btn-secondary">Back</button></a>
    </div>
</div>
<script type="text/javascript" src="{% static "js/fmain.js" %}"></script>
</body>
</html>
