body, html {
    height: 100%;
    background-color: #3b3b3b;
}

span {
    display: inline-block;
    width: 100%;
    white-space: nowrap;
    overflow: hidden !important;
    text-overflow: ellipsis;
}

.content {
    width: 100%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.readable {
    height: 100%;
    background-color: #f4f4f4;
    padding: 10px;
}

.wrapper {
    background-color: #3b3b3b;
    width: 100%;
}

.wraper {
    background-color: #3b3b3b;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    height: calc(100% - 56px);
}

.file_img {
    height: auto;
    margin-right: 10px;
}

.file_elem {
    background-color: #5a5a5a;
    color: #f4f4f4;
    padding: 12px;
    /*width: 200px;
    height: 200px;
    min-width: 150px;*/
    max-width: 250px;
    display: flex;
    flex-direction: row;
    margin: 10px;
    border-radius: 10px;
    cursor: pointer;
    transition: .3s;
}

.file_elem img {
    width: 24px;
    height: 24px;
}

.file_elem:hover {
    background-color: #747474;
}

.file_reader_menu {
    background-color: #474747;
    width: 300px;
    padding: 30px;
}

.area {
    height: 100%;
    width: 100%;
    padding: 10px;
}

.vertical-center {
    width: 100%;
    margin: 0;
    position: absolute;
    top: 50%;
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
}

.veryw {
    width: 100%;
}